<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="POST">
      {% csrf_token %}
      <label>Imię:<input type="text" name="name" id="name"></label>
      <label>Email:<input type="email" name="email" id="email"></label>
      <label>Kategoria:<select name="category">
          <option value=0>Pytanie</option>
          <option value=1>Inne</option>
      </select></label>
      <label>Temat:<input type="text" name="subject"></label>
      <label>Treść:<textarea name="body" cols="40" rows="10"></textarea></label>
      <label>Ulubiona data:<input type="date" name="date"></label>
      <label>Ulubiona godzina:<input type="time" name="time"></label>
      <input type="submit" value="Wyślij">
  </form>
</body>
</html>